* {
    margin: 0;
}

body {
    background-color: #eaf6ff;
    font-family: 'Times New Roman', Times, serif;
}
header {
    background-color: rgb(24, 24, 24);
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 32px;
}
.nav {
    background-color: gray;
    padding: 10px;
    text-align: center;
}
.nav-links {
    color: white;
    margin: 0 15px;
}

.container {
    color: rgb(78, 78, 78);
}